# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.The Day We Escaped.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\unity_projects\bolt_projects\Project-Startup\The Day We Escaped\.idea\.idea.The Day We Escaped\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
